*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0 0;
    background-color: whitesmoke;
    background-image: linear-gradient(to right, #00F260,#0575E6);
    

}
#signin:hover{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.marq{
    margin-bottom: 50px;
}



.loginpage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(107, 156, 156);
    height: 500px;
    width: 500px;
    /* margin:auto; */
    padding: 80px;
    border: 5px solid black;
    box-shadow: 10px 10px 5px rgba(63, 83, 177, 0.863);
}

.inputs{
   /* margin: 70px 90px; */
   /* padding: 100px; */
   display: flex;
   align-items: center;
   justify-content: center;
   
  
   
}
.inputs input{
    padding: 10px;
    display: inline-block;
    border: 5px solid black;
}
.btn{
    margin: 0 10px;
    color: darkcyan;
    background-color: white;
    padding:20px;
    width:max-content;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
   
}
#signup:hover{
    transition: width 10s;
    width: 250px;
}
#signin{
    background-color: dark;
    position:relative;
    animation-duration:4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: example1;
}
@keyframes example1 {
    0%{left:0px ; top:0px}
    25%{left:-20px;top:0px}
    50%{left:-40px;top:0px}
    100%{left:0px;top:0px}    
}
#signup{
    color: white;
    position: relative;
    background-color: darkcyan;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%{left:0px ; top:0px}
    25%{left:20px;top:0px}
    50%{left:40px;top:0px}
    100%{left:0px;top:0px}    
}

.userinputs{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    width:100%;
    height:40px;
    
   
}
.userinputs input{
    outline: none;
    background-color: inherit;
    border: none;
    padding: 0;
    border:inherit
    /* height: 8px; */


}

.usr{
    width:100%;
    height:40px;
    border-radius: 5px;
}
.psw{
    width:100%;
    height:40px;
    border-radius: 5px;
}

.input-form{
    display: flex;
    gap:26px;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column; 
    margin-top: 40px;
    
}
.forgot{
    font-size: large;
}

.btn1{
    width:100%;
    height:50px;
}
.btn1:hover{
    transition: width 2s, height 4s;
    width: 100px;
    height: 50px;
}

@media (max-width:465px){
   .loginpage{
    padding: 10px;
    margin:0px;
    height:100vh;
   }
}